<!DOCTYPE html>
<html>
    <head>
        <title>WhatsTheWeather</title>
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1 id="header"><em>Whats The Weather?</em></h1>            
            <div class="Jumbotron">
                <h2>Pick The Location</h2>
                <hr>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping">Lat</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                
            </div>
        
        
        
        
        
        </div>
        
    </body>
</html>