<!DOCTYPE html>
<html>
    <head>
        <title>WhatsTheWeather</title>
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1 id="header"><em>Whats The Weather?</em></h1>            
            <div class="Jumbotron">
                <h2>Pick The Location</h2>
                <hr>
                <form action="/addl" method="POST" >
                    <input class="text" name="lat" type="text">
                    <input class="text" name="lng" type="text">
                    <input  type="submit">
                </form>
                
            </div>
        
        
        
        
        
        </div>
        
    </body>
</html>